<div class="p-2 flex gap-2">
  <%= render NangkaUI::Button.new { "Default" } %>
  <%= render NangkaUI::Button.new(variant: :destructive) { "Destructive" } %>
  <%= render NangkaUI::Button.new(variant: :outline) { "Outline" } %>
  <%= render NangkaUI::Button.new(variant: :secondary) { "Secondary" } %>
  <%= render NangkaUI::Button.new(variant: :ghost) { "Ghost" } %>
  <%= render NangkaUI::Button.new(variant: :link) { "Link" } %>
</div>
